.toolbar-bbblackboard{
position: absolute;
top: 5%;
left:-1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column;

}
.poly{
  background: url("../../../assets/img/hexagon.svg");
  background-repeat: no-repeat;
  height: 25px;
  width: 15px;
  display: block;
}
.pen{
  background: url("../../../assets/img/pen-tool.svg");
  background-repeat: no-repeat;
  height: 25px;
  width: 15px;
  display: block;


}
.skew{
  background: url("../../../assets/img/skew.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;




}
.scale{
  background: url("../../../assets/img/scale.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;




}
.triangle{
  background: url("../../../assets/img/triangle.svg");
   background-repeat: no-repeat;
  background-size: 15px 20px;
  height: 25px;
  width: 15px;
  display: block;




}
.path{
  background: url("../../../assets/img/path.svg");
   background-repeat: no-repeat;
  background-size: 15px 20px;
  height: 25px;
  width: 15px;
  display: block;
}
.toolbar {
  width: 100%;
  position: absolute;
  bottom: 0;

  display: block;
  border: 5px solid grey;
  background-color: rgb(102, 102, 102);
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  user-select: none;
}
.toolbar-icon{
  width: 150px;
  float: right;
  align-content: center;
  cursor: pointer;
}
.toolbar-icon i {
display: flex;
flex-wrap: wrap;
flex-direction: column;
flex-flow: column;
align-content: center;
align-items: center;
  position: absolute;

  bottom: 3%;
  right: 0.5%;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: orange;
  font-size: 25px;
  letter-spacing: 5px;
}

.toolbar-icon:hover {
  color: white;
}

.toolbar-toggle {
  margin-top: 4px;
  height: 20px;
}

.tools-container {
  vertical-align: middle;
}

.bb-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  float: right;
}

.my-icon {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
}
