<div class="container btn-group-vertical mr-3 toolbar-bbblackboard">
  <div class="btn-group-vertical mr-1" role="group" aria-label="Basic example">
    <button type="button" (click)="pointerButton()" class="btn btn-light text-dark"><i class="fa fa-mouse-pointer" aria-hidden="true"></i></button>
    <button type="button" (click)="icursorButton()" class="btn btn-light text-dark "><i class="fa fa-i-cursor" aria-hidden="true"></i></button>
    <button type="button" (click)="drawButton()" class="btn btn-light text-dark"><i class="path" aria-hidden="true"></i></button>
    <button type="button" (click)="squareButton()" class="btn btn-light text-dark"><i class="fa fa-square-o" aria-hidden="true"></i></button>
    <button type="button" (click)="circleButton()" class="btn btn-light text-dark" ><i class="fa fa-circle-thin" aria-hidden="true"></i></button>
    <button type="button" (click)="triangleButton()" class="btn btn-light text-dark"><i class="triangle" aria-hidden="true"></i></button>
    <button type="button" (click)="starButton()" class="btn btn-light text-dark"><i class="fa fa-star-o" aria-hidden="true"></i></button>
    <button type="button" (click)="polyButton()" class="btn btn-light text-dark"><i class="poly"></i></button>
   <button type="button" (click)="penButton()" class="btn btn-light text-dark"><i class="pen"></i></button>
     <!--<button type="button" (click)="paintButton()" class="btn btn-light text-dark"><i class="fa fa-paint-brush" aria-hidden="true"></i></button>-->

    <button type="button" (click)="skewButton()" class="btn btn-light text-dark"><i class="skew"></i></button>
    <button type="button" (click)="minusButton()" class="btn btn-light text-dark"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
    <button type="button" (click)="plusButton()" class="btn btn-light text-dark"><i class="fa fa-search-minus" aria-hidden="true"></i></button>

   <!-- <button type="button" (click)="trashButton()" class="btn btn-light text-dark"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
  </div>



