.board {
   position: absolute;
    width: 100%;

    height: 100%;
    background: lightblue;
}
.m-0{
  margin:0;
}
/*.example-box {
    border-radius: 16px;
    width: 900px;
    position: absolute;
    right: 15%;
    display: block;
    top: 10%;
    height: 500px;
}*/
.example-box {

  position: absolute ;
  background-image: url("../../../assets/img/006.jpg");
  border-radius: 16px;
  padding-left: 0px;
  padding-top: 15px;
  width: 1230px;
  left: 0%;
  display: flex;
  top: 2%;
  height: 620px;

}
.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-handle {
    position: absolute;
    margin: auto;
    top: -25px;
    right: -20px;
    color: red;
    cursor: move;
    width: 32px;
    height: 32px;
    border: 3px solid red;
    border-radius: 50%;
}

video {
    object-fit: contain;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 5%;
}

ul {
    margin: 0px;
    list-style: none;
}

body {
    margin: 0
}

.icon-bar {
    width: 90px;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}
