<div class="flex-container">
    <div class="row m-0">
        <div class="col col-sm-12 board">
            <div class="row ">
                <div clas="col col-sm-9">
                  <div cdkDragBoundary=".board" cdkDrag class="icon-bar">
                    <a (click)="Camera()" [ngClass]="{'active':isCamera}"><i class="fa fa-video-camera"></i></a>
                    <a (click)="list()" [ngClass]="{'active':isList}"><i class="fa fa-list"></i></a>
                    <a (click)="blackBoard()" [ngClass]="{'active':isBlackboard}"><i class="fa fa-th-large"></i></a>
                    <a (click)="chat()" [ngClass]="{'active':isChat}"><i class="fa fa-commenting-o"></i></a>
                  </div>
                    <ul>

                        <li *ngIf="isBlackboard" class="example-box" cdkDragBoundary=".board" cdkDrag>

                        <app-blackboard [isTeacherClassBlackB]="isBlackboard" [title]="title"></app-blackboard>
                            <div class="example-handle" cdkDragHandle>

                                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                          </svg>
                            </div>

                        </li>

                        <li *ngIf="isList">
                            <div cdkDragBoundary=".board" cdkDrag>
                                <app-virtual-scroll [dataChat]="chatEvents"></app-virtual-scroll>
                            </div>


                        </li>

                    </ul>
                </div>
                <div *ngIf="isCamera" cdkDrag class="col-ms-3">

                    <div cdkDragBoundary=".board" cdkDrag class="card">

                        <app-videos [sender]="isCamera"></app-videos>

                    </div>

                </div>


                <div *ngIf="isChat"  class="col-sm-3">
                  <div cdkDragBoundary=".board" cdkDrag>

                <app-chat-screen [isTeacherClass]="isChat" (data)="chatEvent($event)"></app-chat-screen>
                  </div>

                </div>
            </div>
        </div>
    </div>

</div>
