ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-container {
    height: 100px;
    width: 100vh;
}

cdk-virtual-scroll-viewport {
    overflow-y: auto;
}

li div.chat-img~.chat-content,
.student-list {
    background: red !important;
    align-content: center;
}

li div.chat-img~.chat-content,
.reverse .chat-content {
    background: blue;
    align-content: center;
    width: 50px;
    height: 40px;
}

h6 {
    font-size: x-small;
    font-weight: bold;
    color: white;
}

.chat-time {
    font-size: smaller;
    font-weight: lighter;
}

div .chat-content {
    text-align: center;
}

div .chat-img {
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.chat-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chat-img img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #00ffff;
    align-self: center;
    margin-left: 1px;
}

li {
    margin: 3px;
    display: inline-block;
    border: 1px solid blue;
}