

<div class="container">
  <div class="row">
    <div class="btn-group mr-1" role="group" aria-label="Basic example">
    <button type="button" (click)="boldButtom()" class="btn btn-light text-dark" ><i class="fa fa-bold"></i></button>
    <button type="button" (click)="italicButtom()" class="btn btn-light text-dark"><i class="fa fa-italic"></i></button>
    <button type="button" (click)="underlineButtom()" class="btn btn-light text-dark " ><i class="fa fa-underline"></i></button>
    <button type="button" (click)="strikethroughButtom()" class="btn btn-light text-dark "><i class="fa fa-strikethrough" aria-hidden="true"></i></button>
  </div>
  <div class="btn-group mr-1" role="group" aria-label="Basic example">
    <button type="button" (click)="alignLeftButtom()" class="btn btn-light text-dark" ><i class="fa fa-align-left"></i></button>
    <button type="button" (click)="alignCenterButtom()" class="btn btn-light text-dark" ><i class="fa fa-align-center"></i></button>
    <button type="button" (click)="alignRightButtom()" class="btn btn-light text-dark" ><i class="fa fa-align-right"></i></button>
    <button type="button" (click)="alignJustify()" class="btn btn-light text-dark" ><i class="fa fa-align-justify"></i></button>
  </div>
  <div class="btn-group mr-1" role="group" aria-label="Basic example">
    <button type="button" (click)="copyButtom()"  class="btn btn-light text-dark "><i class="fa fa fa-files-o"></i></button>
    <button type="button" (click)="pasteButtom()"  class="btn btn-light text-dark"><i class="fa fa-clipboard"></i></button>
    <button type="button" (click)="cutButtom()"  class="btn btn-light text-dark"><i class="fa fa-scissors"></i></button>
  </div>

<!--<div *ngIf="this.isGradientButtom" class="gradientTool">
<app-gradients cdkDrag></app-gradients
</div>>-->

  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">  <i class="fa fa-font" aria-hidden="true"></i></label>
    </div>
    <select  class="custom-select"  (input)="this.fontfamilyfunc(fFamily.value)" #fFamily>
      <option *ngFor="let font of this.fontFamily" [value]="font">{{font}}</option>
    </select>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-text-height" aria-hidden="true"></i></label>
    </div>
    <select  class="custom-select"  (input)="this.fontSizefunc(fSize.value)" #fSize>
      <option *ngFor="let size of this.fontSize" [value]="size">{{size}}</option>
    </select>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <label [ngClass]="{'pencil':this.isStrokeColor}" class="input-group-text" for="inputGroupSelect01"><i (click)="this.strokeColor()" class="fa fa-pencil stroke"  aria-hidden="true"></i></label>
    </div>
    <select  class="custom-select"  (input)="this.StrokeLinefunc(strokeWith.value)" #strokeWith>
      <option *ngFor="let size of this.StrokeLine" [value]="size">{{size}}</option>
    </select>
  </div>

 <div >
      <app-color-picker [Pcanvas]="this.Tcanvas" [Pctx]="this.Tctx" (eventColor)="this.eventColor($event)"></app-color-picker>
    </div>
<div >
  <app-image [Icanvas]="this.Tcanvas" [Ictx]="this.Tctx"></app-image>
</div>

  </div>

<div class="row ObjPosition">
  <div class="btn-group mr-1" role="group" aria-label="Basic example">
    <button type="button" (click)="fowardButtom()" [ngClass]="{'active':isFowardButtom,'btn btn-light text-dark':!isFowardButtom}" ><i class="foward" aria-hidden="true"></i></button>
    <button type="button" (click)="frontButtom()" class="btn btn-light text-dark"><i class="front" aria-hidden="true"></i></button>
    <button type="button" (click)="backwardsButtom()" class="btn btn-light text-dark " ><i class="backwards" aria-hidden="true"></i></button>
    <button type="button" (click)="backButtom()" class="btn btn-light text-dark "><i class="back" aria-hidden="true"></i></button>

  </div>
  <div class="btn-group mr-1" role="group" aria-label="Basic example">
    <button type="button" (click)="trashButton()" class="btn btn-light text-dark "><i class="fa fa-trash" aria-hidden="true"></i></button>
    <button type="button" (click)="undoButtom()" class="btn btn-light text-dark" ><i class="fa fa-undo" aria-hidden="true"></i></button>
    <button type="button" (click)="redoButtom()" class="btn btn-light text-dark"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    <button type="button" (click)="groupsButtom()" class="btn btn-light text-dark " ><i class="fa fa-object-group" aria-hidden="true"></i></button>
    <button type="button" (click)="ungroupsButtom()" class="btn btn-light text-dark "><i class="fa fa-object-ungroup" aria-hidden="true"></i></button>
    <button type="button" (click)="selectAllButtom()" class="btn btn-light text-dark " ><i class="selectAll" aria-hidden="true"></i></button>
    <button type="button" (click)="unSelectedButtom()" class="btn btn-light text-dark "><i class="unSelectAll" aria-hidden="true"></i></button>
   <!-- <button type="button" (click)="gradientButtom()" class="btn btn-light text-dark "><i class="gradient" aria-hidden="true"></i></button>-->
    <button type="button" (click)="lockButtom()" class="btn btn-light text-dark "[ngClass]="{'pencil':isLockButtom}"><i class="fa fa-lock" aria-hidden="true"></i></button>
  </div>
</div>

  </div>

