.container{
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
button,select,label,input,span{
  height: 28px;

}
#inputGroupSelect01{
  width: 20 px;
}

.custom-file-label::after{
  height: 25px;
}
#inputGroupFile01{
  width: 170px;
}

.input-group{
  width: 90px;
}
.ObjPosition{
  position: absolute;
  left:2%;
  bottom: -18% !important;
  height: 13px;
}

.foward{
  background: url("../../../assets/img/forward.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;

}

.pencil{
  background-color: black;
}

.front{
  background: url("../../../assets/img/front.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;

}
.backwards{
  background: url("../../../assets/img/backward.svg");
  background-repeat: no-repeat;
 background-size: 18px 25px;
 height: 25px;
 width: 15px;
 display: block;
}
.back{
  background: url("../../../assets/img/back.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;

}
.gradient{
  background: url("../../../assets/img/gradient.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;

}
.gradientTool{
  position: absolute;
display: flex;
flex-direction: column-reverse;
top: -200%;
right: -5%;


}
.selectAll{
  background: url("../../../assets/img/select-all.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;

}
.unSelectAll{
  background: url("../../../assets/img/unselect-all.svg");
   background-repeat: no-repeat;
  background-size: 18px 25px;
  height: 25px;
  width: 15px;
  display: block;

}
.active {
  background-color: #4CAF50;
}
