
<div id="gradX" >
  <div class="gradx">
    <div id="gradx_add_slider" >
      <button (click)="addButton()" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button (click)="removeButton()" class="btn btn-outline-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
    <div class="gradx_slectboxes">
      <select id="gradx_gradient_type" (change)="gradType(GradType.value)" class="custom-select custom-select-sm " #GradType>
        <option value="linear-gradient" selected>Linear</option>
        <option value="radial-gradient">Circle-Circular</option>
        <option value="radial-gradient-eclipse">Eliptical-Elipse</option>
      </select>
      <select id="gradx_gradient_subtype" (change)="Hdirection(GradHdirection.value)" class="custom-select custom-select-sm" #GradHdirection >
        <option value="left" selected>Left(Izquierda)</option>
        <option value="right" >Right(Derecha)</option>
        <option value="center">Center</option>
      </select>
      <select id="gradx_gradient_subtype" (change)="Vdirection(GradVdirection.value)" class="custom-select custom-select-sm" #GradVdirection >
        <option value="center">Center</option>
        <option value="top" >Top(Arriba)</option>
        <option value="button" >Buttom(Abajo)</option>
      </select>
    </div>
    <div class="gradx-container" id="gradx_gradx">
       <div class="gradx_panel" id="gradx_panel" >

      </div>
      <div  class="gradx_start_sliders" id="gradx_start_sliders_gradx" >
        <div  *ngFor="let ids of inputGrad">

          <input (cdkDragMoved)="dragMoved($event)"  [cdkDragData]="gradex" cdkDragBoundary=".gradx_start_sliders" cdkDrag value="#ff0080" lockAxis="x" type="color"  [id]="ids"  class="gradx_slider"  #gradex/>
        </div>

        <textarea class="cp-info">

        </textarea>
      </div>

    </div>

  </div>
</div>

s
