

:host{
  content: '';
 --firstside: white;
  --secondside:  white;
  --thirdside: white;
  --fourthside: white;
  --fifthside: white;
  --sixtxhside: white;
  --seventh: white;
  --eight: white;
  --ninth: white;
  --tenthside:white;
  --grad-hint: 0%;
  --grad-hint2: 0%;
  --grad-hint3: 0%;
  --grad-hint4: 0%;
  --grad-hint5: 0%;
  --grad-hint6: 0%;
  --grad-hint7: 0%;
  --grad-hint8: 0%;
  --grad-hint9: 0%;
  --grad-hint10: 0%;



}
.cp-info{
overflow-y: auto;

  border: 1px solid lightgray;
  margin-left: 1%;
  background: #212121;
  padding-left: 5px;
  font-family: 'Courier Prime', monospace;
  font-size: 0.8rem;
  color: #00dd71;
  text-align: center;
  left: 0;
  top: 10%;
  font-weight: bold;

}
textarea {
  position: relative;
  left: 10%;
  width: 280px;
  height: 80px;
  margin-top : 15px;
  padding: 5px;

}

#gradX {
  height: 200px;
  margin: 100px 34%;
  display :flex;
  /**/


}

////////
.gradx_hide {
  display: none;

}

.gradx {
  position: absolute;
  display: block;
  top: -100%;
  right: 0;
  background: #FAFAFA;
  background: -moz-linear-gradient(top, #FAFAFA 0%, #DFDFDF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DFDFDF));
  background: -webkit-linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  background: -ms-linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);
  background: linear-gradient(top, #FAFAFA 0%,#DFDFDF 100%);

  border: 4px solid #dfdfdf;
  padding: 10px;
  font-weight: normal;
  width: 300px;
  height: 75%;
  font-size: 12px;
}

.gradx_container {
  padding: 10px;
  background: white;
  padding-left: 16px;
  border: 5px solid #e5e5e5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.gradx_panel {
  width: 275px;
  height: 42px;
  border: 1px solid #ccc;
  background: linear-gradient(to right,
  var( --firstside) var(--grad-hint),
   var(--secondside) var( --grad-hint2),
   var(--thirdside) var(--grad-hint3),
   var(--fourthside) var(--grad-hint4),
   var(--fifthside) var(--grad-hint5),
   var(--sixtxhside) var(--grad-hint6),
   var(--seventh) var(--grad-hint7),
   var(--eight) var(--grad-hint8),
   var(--ninth) var(--grad-hint9),
   var(--tenthside) var(--grad-hint10));

}

.gradx_start_sliders {
  width: 284px;
  margin-top: 8px;
  margin-left: -6px;
  background: whitesmoke;
  height: 12px;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  -webkit-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  -moz-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
  -o-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;

  border: 1px solid #f1f1f1;
}

.gradx_slider {
  position: absolute;
  left: 4px;

  width: 10px;
  height: 10px;
  background: red;
  border: 1px solid black;
  display: inline-block;
  opacity: 0.6;
}

.gradx_slider:hover {
  opacity: 1;
  cursor: move;
}




.gradx_slider:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  border-style: solid;
  border-width: 70px 1px 0px 0px;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 1;
}



#gradx_slider_info {

  display: none;
  border: 1px solid #ccc;
  padding: 2px;
  background: #f1f1f1;
}



.gradx_add_slider {
  border: 1px solid black;
  width: 50px;
  margin-bottom: 4px;

}


.gradx_slectboxes {
  display: inline;
}

.gradx_gradient_type {
  height: 25px;
  background: #efefef;
  border: 1px solid #ccc;
  padding-right: 2px;
  width: 115px;
  margin: 0;
}



/*.gradx_btn > .icon-add {
  background-image: url("../../../assets/icons/plus.png");
  left: -10px;
}

.gradx_btn > .icon-remove {
  background-image: url("../../../assets/icons/remove.png");
}


.gradx_btn > .icon-file-css {
  background-image: url("../../../assets/icons/file-css.png");
}

.gradx_btn > .icon-preset {
  background-image: url("../../../assets/icons/preset.png");
}*/




.cp-default {
  border-radius: 6px;
  float: left;
  margin-top: 13px;
  margin-left: -96px;
  position: absolute;
  z-index: 10000;
}





