#divChatbox {
    background: CornflowerBlue;



}

.container-fluid{
  margin: 0;
}
.chat-list {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 72vh;
    padding: 8px;
    align-content:flex-start;
    align-items: center;
}

.teacherClass {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 60vh;
    padding: 8px;
    align-content:flex-end;
    align-items: center;
}

textarea {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    align-content: center;
    align-items: center;
}

.chatScreen {
    position: absolute;
    background: blue;
    width: 250px;
    height: 200px;
    margin: 3px;
    padding: 3px;
}

.chatScreen p {
    color: white;
}
