body {
  background: #f5f5f5;
}

p{
  margin: 0;
}

.summary-info {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  background: #fff;
  width: 50px;
  height: 32px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
  margin: 0 10px 0 3px;
}

.info {
  width: calc(100% - 25px);
}

p.style {
  color: #000;
  margin-bottom: 7px;
  margin-top: 2px;
}

p.style-value {
  margin-top: 12px;
  color: #05060c;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 8px;
  font-weight: bolder;
}

.circle {
  height: 15px;
  width: 15px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.opened {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  background: #fff;
  max-width: 150px;
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  box-sizing: border-box;
  margin-top: 10px;
}

.opened:after {
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  content: '';
  left: 10px;
  position: absolute;
  top: -20px;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.circle {
  flex: 15px;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
}

.circle:nth-child(5n) {
  margin-right: 0;
}

.hex-code {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.hex-code p {
  width: 50%;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 25px;
}

.g-input {
  border: 1px solid #000;
  height: 45px;
  border-radius: 5px;
  width: 120px;
}

.hex-code .g-input input {
  border: none;
  width: 100%;
  margin-top: 14px;
  text-transform: uppercase;
  padding: 0 25px;
  outline: none;
  text-align: center;
  letter-spacing: 1.5px;
  color: #595b65;
  box-sizing: border-box;
}
