<div class="color-picker">
  <div class="summary-info" (click)="toggleColors()">
    <div class="info">
      <p class="style">{{ heading }}</p>
      <p class="style-value">{{ color }}</p>
    </div>
    <div class="circle" [ngStyle]="{'background': color}"></div>
  </div>

  <!--pallette color-->
  <div class="opened" *ngIf="show">
    <div class="colors">
      <div (click)="ChangeColor(paint)" *ngFor="let paint of defaultColors" class="circle" [ngStyle]="{'background': paint}"></div>
    </div>

  </div>
  <div>
    <app-slider [color]="this.color" [Sctx]="Pctx" [Scanvas]="Pcanvas"></app-slider>
  </div>
</div>
