<div class ="container">
 <div [ngClass]="{'blackboard-frame1':!isTeacherClassBlackB}">
 <div class=".bbboard">
</div>
<app-bbtoolbar  [BBTcanvas]="this.canvas" [BBTctx]="this.ctx"></app-bbtoolbar>
<div>

<canvas  [ngClass]="{'blackboards1':!isTeacherClassBlackB,'blackboards':isTeacherClassBlackB}"   id="blackboards" >
    We're sorry, the browser you are using does not support canvas. Please upgrade your browser.
  </canvas>

</div>

<div class="container">

<div  class="row LoadImage toolbar-blackboard">
  <app-blackboard-toolbar [Tcanvas]="this.canvas" [Tctx]="this.ctx"></app-blackboard-toolbar>
</div>

</div>
</div>
</div>


