.blackboard-frame1 {
    background-image: url("../../../assets/img/006.jpg");
    border-radius: 16px;
    padding: 16px;
    width: 1230px;
    position: absolute;
    left: -365%;
    display: flex;
    top: 2%;
    height: 620px;

}

.blackboard-frame {
    background-image: url("../../../assets/img/006.jpg");
    border-radius: 16px;
    padding: 16px;
    width: 970px;
    position: absolute;
    display: block;
    height: 580px;

}
.bbboard{
  position: relative;
  float: left;
  z-index: 1;
}

.blackboards {
  cursor: crosshair;
    position: absolute;
    border-radius: 16px;
    width: 900px;
    height: 600px;
    top: 2%;
    right: 2%;
    background:url("../../../assets/img/boardFront.png");



}
.blackboards1 {
  cursor: crosshair;
    position: absolute;
    border-radius: 16px;
    width:1190px;
    height: 540px !important;
    top: 2%;
    right: -1%;
    background:url("../../../assets/img/boardFront.png");



}
// TOOLBAR

.toolbar-blackboard{
  position: absolute;
  bottom: 0;
  display: inline;
}
.toolbar {
  width: 65px;
  position: absolute;
  bottom: 0;

  display: block;
  border: 5px solid grey;
  background-color: rgb(102, 102, 102);
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  user-select: none;
}
.toolbar-icon{
  width: 150px;
  float: right;
  align-content: center;
  cursor: pointer;
}
.toolbar-icon i {
display: flex;
flex-wrap: wrap;
flex-direction: row;
flex-flow: row;
align-content: center;
align-items: center;
  position: absolute;

  bottom: 3%;
  right: 0.5%;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: orange;
  font-size: 25px;
  letter-spacing: 5px;
}

.toolbar-icon:hover {
  color: white;
}

.toolbar-toggle {
  margin-top: 4px;
  height: 20px;
}

.tools-container {
  vertical-align: middle;
}

.bb-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.my-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

// Toolbar hidden boxes
// delete confirm

.icon-bar {
  width: 90px;
  background-color: #555;
  position: absolute;
  z-index: 100;
}

.icon-bar i {
  display: inline;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  z-index: 100;
  margin: 1%;
}

.icon-bar i:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
.LoadImage{
  position: absolute;
  display: inline;
  bottom: 1%;
  left: 0;
  margin: 0.7%;

}

.toolbox-delete-confirm {
  width: 250px;
  height: 60px;
  background-color: rgb(102, 102, 102);
  color: black;
  border: 2px solid rgb(90, 58, 9);
  border-radius: 10px;
  position: fixed;
}

.point-sm {
  width: 10px;
}

.point-md {
  width: 15px;
}

.point-lg {
  width: 20px;
}

.point-xl {
  width: 25px;
}

.pencil-icon {
  position: inherit;
}

.toolbox-palette-color {

  color:  #555;
  border-radius: 10px;
  position: absolute;
  font-size: 20px;
  padding: 4px;
  bottom: 0;
  right: 4%;
  z-index: 0;
  cursor: pointer;
}

.color-icon  {

  padding: 2px;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 24px;
  z-index: 100;
}

.color-icon:hover {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(17, 218, 157, 0.6);
  -moz-box-shadow: 0px 0px 0px 1px rgba(17, 218, 157, 0.6);
  box-shadow: 0px 0px 0px 1px rgba(17, 218, 157, 0.6);
}

//--------------
.rotated {
  transform: rotate(90deg);
}

.palette-icon {
  width: 20px;
  height: 20px;
  padding: 1% !important;
  background-color: red;

  margin-left: 10px;
}

.square-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.ico-red {
  background-color: red;
}

.ico-yellow {
  background-color: yellow;
}

.ico-black {
  background-color: black;
}

.ico-green {
  background-color: green;
}

.ico-white {
  background-color: white;
}

