.slidecontainer {
  width:120px;
  position: absolute;
  right: -15%;
  top: 0%;
  display: flex;
  margin: -1% 5px -4% -5%;
  padding: 1%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
i{
  margin: -6% 5px 0 5px;
  width: 32px;
  height: 26px;
}

span{
margin: -10% 0 0 5px;
background-color: #d3d3d3;
width: 32px;
height: 26px;
font-size: 12px;
border: 1px solid black;
border-radius: 3px;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
#myEraser ,.eraser{

  display: flex;
  margin-top: 13px;
  margin-left: 20px;
max-width: 60%;


}
.eraser>i{

    margin: -6% 8% 0 -5% !important;
    width: 42px;
    height: 26px;
    position: absolute;
    bottom: -20%;

}
.eraser>span{
  margin: -5% 0 0 5px;
  background-color: #d3d3d3;
  width: 16px;
  height: 26px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 3px;
  bottom: -10%;
  right: -12%;
  }
.switch {
  display: inline-block;
  height: 17px;
  position: absolute;
  right: 3%;
  width: 45px;
}

.switch input {
  display:none;
}

.sliders {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 5%;
  top: 50%;
  transition: .4s;
}

.sliders:before {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 10px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width:15px;
}

input:checked + .sliders {
  background-color: #66bb6a;
}

input:checked + .sliders:before {
  transform: translateX(26px);
}

.sliders.round {
  border-radius: 15px;
}

.sliders.round:before {
  border-radius: 50%;
}














