<!--<div class="container">

      <div class="row">
   <div class="slidecontainer" >
     <i [ngClass]="this.icon" class="fa fa-pencil"></i>

<input type="range" min="1" max="10" value="1" class="slider" [ngStyle]="{'background-color':this.color}" (input)="drawing(slider.value)"  id="myLine" data-toggle="tooltip" data-placement="top"  [title]="slider.value" #slider />
   <span>{{slider.value}}</span>-->

<!--</div>
  </div>
  <div class="row">
    <div class="slidecontainer eraser">
   <i  class="fa fa-eraser" aria-hidden="true" ></i>
 <input type="range" min="1" max="10" value="1" class="slider" (input)="erassing(eraser.value)"  id="myEraser" data-toggle="tooltip" data-placement="top"  [title]="eraser.value" #eraser />
 <span >{{eraser.value}}</span>
 </div>
  </div>-->
<!--<div class="container">
  <label class="switch" for="checkbox">
    <input type="checkbox" id="checkbox" (click)="this.EraseCanvas()" />
    <div class="sliders round"></div>
  </label>
</div>
 </div>-->
