<div class="input-group">
  <div class="input-group-prepend">
  </div>
  <div class="custom-file">

    <label class="custom-file-label" for="imageInput"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
    <input type="file" class="custom-file-input" id="imageInput" aria-describedby="inputGroupFileAddon01"  accept = "image/*" />
  </div>

</div>
