li {
    margin-top: 1px;
}

.list-container {
    margin-left: 20px;
    height: 190px;
    width: 20vmax;
    border: 1px solid black;
}

img {
    margin-top: 3px;
    width: 64px;
    height: 64px;
}