<cdk-virtual-scroll-viewport itemSize="45" class="list-container list-group">

    <ul class="list-unstyled list-group-item" *cdkVirtualFor="let persona of personas;let odd= odd;let even = even">
        <li *ngIf="odd" [class.media]="odd">
            <img src="./../../../assets/img/1.jpg" class="img-thumbnail" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Jhon Doe</h5>
                <h6>Cras sit amet nibh libero, in gravida nulla.</h6>
            </div>
        </li>

        <li *ngIf="even" [class.media]="even">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Marcelo Peguero</h5>
                <h6>Cras sit amet nibh libero, in gravida a nullas.</h6>
            </div>
            <img src="./../../../assets/img/2.jpg" class="img-thumbnail" class="ml-3" alt="...">
        </li>
    </ul>
</cdk-virtual-scroll-viewport>