ul {
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    justify-content: baseline;
}
#usedCard{
width: max-content;

}

.non-reverse{
  display: flex;
  justify-content: flex-start;
}
li {
    display: inline-block;
    flex-flow: row;
    width: max-content;
    margin: 5px;

}

.dialog {
    position: relative;
    word-break: break-all;
    display: flex;
    width: 100%;
    height: auto;
    color: white;
    background: royalblue;
    font-size: medium;
    border-radius: 0px 8px 0px 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    padding: 8px;
}

.dialog1 {
    position: relative;
    word-break: break-all;
    display: flex;
    width: auto;
    height: 100%;
    color: black;
    background: lightblue;
    font-size: medium;
    border-radius: 8px 0px 8px 0px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.student-list .chat-content-1 {
    right: 35px;
    text-align: center;
    margin: 10px 0px 0px 10px;
    background: ForestGreen !important;
    width: 100%;
    height: 100%;
    border-radius: 0px 5px 0px 5px;
    font-size: 10px;
}

.reverse .chat-content {
    margin: 10px 0px 0px 10px;
    text-align: center;
    background: DarkOrchid;
    width: 100%;
    height: 100%;
    border-radius: 0px 5px 0px 5px;
    font-size: 10px;
}

h6 {
    font-size: xx-small;
    font-weight: bold;
    color: white;
    text-align: center;
    align-content: center;
}

.chat-time {
    font-size: xx-small;
    font-weight: lighter;
    width: min-content;
    height: min-content;
}

div .chat-img {
    background: none;
}

.chat-img img {
    position: relative;
    right: 20px;
    background: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid #00ffff;
    align-self: center;
    margin: 3px;
}
