.container{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 5%;
  justify-content: center;
}

h1 {
    margin: 50px;


}

form {
    margin: 50px;
    width: 100%;
}

#myCanvas{
  width: 300px;
  height:250px;
  border:1px solid #000000;
}

.sumit{
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}
