<div class="container">


    <div>
      <h1>Autentifiquese para poder acceder a Aula-V</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae at, beatae libero, itaque provident et soluta ipsum maxime quam dolorem mollitia eligendi voluptatibus doloribus, quia sint reprehenderit blanditiis saepe consectetur!</p>
    </div>


    <div class="row ">


        <form autocomplete="off" (ngSubmit)="login(loginForma)" #loginForma="ngForm">
            <canvas id="myCanvas"></canvas>
            <div class="form-group">
                <label for="name">QRcode para poder acceder debes de usar Google Authenticator</label>
                <input type="text" id="qrcode" [ngModel]=user.qrcode name="qrcode" placeholder="type your Qrcode" class="form-control"  #qrcode="ngModel">
            </div>

            <div class="form-group">
                <label for="name">Correo electronico</label>
                <input type="email" id="name" [class.is-invalid]="email.invalid && email.touched" [ngModel]="user.email" email name="email" placeholder="Escribe tu correo electronico aqui " class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                    #email="ngModel">
                <small *ngIf="email.invalid && email.touched" class="form-text text-danger">correo no valido debe tener la forma miNombredeCorreo@midominio.com </small>
            </div>
            <div class="form-group">
                <label for="email">Contraseña</label>
                <input type="password" id="password" [class.is-invalid]="password.invalid && password.touched" [ngModel]="user.password" name="password" placeholder="Escribe tu contraseña aqui" class="form-control" minlength=6 #password="ngModel" required>
                <small *ngIf="password.invalid && password.touched" class="form-text text-danger">Minimo 6 letras </small>

            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LfK2igaAAAAAF44rw8OF0OvxzTUqyMUh6rA216N">
                </div>

            </div>
            <div>
              <ul class="nav justify-content-start">
                <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>

                <li> <button href="#" class="btn btn-danger" (click)="signOut();">Salir de google</button></li>
            </ul>
            </div>


            <div class="row sumit">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>

        </form>
    </div>

</div>
