<div  class="flex-container">
    <div class="row ">
        <div class="col col-sm-9 board">
            <div class="row ">
              <div class="row cardSchool">
                    <app-student [dataChat]="chatEvents"></app-student>
                </div>
            </div>

                <div clas="col col-sm6">
                  <div   class="row ">
                      <div *ngIf="isBlackboard" class="blackBoard">
                          <ul> <!-- for adding more blackBoard inthe future-->
                              <li>
                                  <app-blackboard [isTeacherClassBlackB]="!isBlackboard" [title]="title"></app-blackboard>
                              </li>

                          </ul>
                      </div>
                  </div>
              </div>
<div clas="col col-sm6">
                    <div *ngIf="isCamera" >
                        <app-videos [sender]="!isCamera"></app-videos>

                    </div>
                </div>

        </div>
        <div class="col col-sm-3 chat">
          <div *ngIf="isChatting" class="chatting" >
            <app-chat-screen [isTeacherClass]="!isChatting" (data)="chatEvent($event)"></app-chat-screen>
          </div>

        </div>
    </div>
</div>

