.flex-container{
  display:inline-block;
  width: 100%;
}
.row{
  margin:0;
}
    .board {
      position: relative;
      display: block;
      width: 100%;

      height: 100vh;
      background: lightblue;
    }
.blackBoard{
  position: absolute;
  left: 22%;
  top: 5%;
  z-index: 0;
}
.mg-0{
  margin: 0 !important;
  padding: 0 !important;
}
    .chat {
margin: 0;
        background: lightcoral;


    }
div.chatting{
        position: absolute;
        right: 0;
        left: 0;
        margin-top: 1%;
        height: 65vh;
}
.video{
   z-index: 10;
   width: 200px;
  height: 180px;
}
    .video>video {
        width: 200px;
        height:180px;
        border-radius: 5px;
        margin: 5%;

    }

    .video>.openCamera {
        display: flex;
        position: absolute;
        top: 20px;
        height: 50px;
        margin: 5%;
        padding: 10px;

    }


    .chat-list {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        height: 600px !important;

    }

    textarea {
        width: 100%;
    }

    .cardSchool {
        position: absolute;
        display: flex;
        justify-self: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        bottom: 10%;
        width: 90%;
        height: 150px;
        margin: 0 0 2% 5%;
        border-radius: 5px;
    }

    ul {
        margin: 0px;
        list-style: none;
    }
