/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding:0;
}
.upper-canvas .blackboards{
  position: absolute;
  left: 5%!important;
}
footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
